.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

.dark-mode .navbar {
  background-color: #000000 !important;
}

.nav-link.active {
  font-weight: bold;
  text-decoration: underline;
}
.dark-mode .text-muted {
  color: #9aa4b2 !important;
}
.dark-mode .link-primary {
  color: #66b2ff;
}
main.container {
  max-width: 900px;
  margin: 0 auto;
  padding-left: 24px;
  padding-right: 24px;
}